services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Netresearch\ContextsGeolocation\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/Dto/*'
      - '../Classes/Exception/*'

  # GeoIP Adapter - uses MaxMind GeoIP2 library
  # Database path can be configured via extension settings
  Netresearch\ContextsGeolocation\Adapter\GeoIpAdapterInterface:
    class: Netresearch\ContextsGeolocation\Adapter\MaxMindGeoIp2Adapter
    arguments:
      $databasePath: '%env(GEOIP_DATABASE_PATH)%'

  # GeoLocation Service with configurable proxy header trust
  # Public: true allows context types to retrieve service from container
  # when instantiated by the contexts extension's Container class
  Netresearch\ContextsGeolocation\Service\GeoLocationService:
    public: true
    arguments:
      $trustProxyHeaders: '%env(bool:GEOIP_TRUST_PROXY_HEADERS)%'
