services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Netresearch\ContextsGeolocation\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/Dto/*'
